apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: fabric-lobby-world
  namespace: minecraft
  labels:
    app: fabric-lobby
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 20Gi
