apiVersion: v1
kind: Service
metadata:
  name: fabric-lobby
  namespace: minecraft
  labels:
    app: fabric-lobby
spec:
  type: ClusterIP
  selector:
    app: fabric-lobby
  ports:
    - port: 25565
      targetPort: 25565
      protocol: TCP
      name: minecraft
    - port: 25575
      targetPort: 25575
      protocol: TCP
      name: rcon
